hidden=[".config"]
modules = ["nodejs-20", "web", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42717173
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"

[[ports]]
localPort = 5000
externalPort = 80
